<!DOCTYPE html>
<!--
  Created by IntelliJ IDEA.
  User: Jamin
  Date: 2019/4/26
  Time: 19:46
  Desc: 用户修改
  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment::header">
    <meta charset="UTF-8">
    <title>用户修改</title>
</head>

<form class="form-group col-lg-12" id="updateForm">
    <table class="table table-hover table-bordered" th:object="${User}">
        <div hidden="hidden">
            <input class="form-control" id="userId" name="userId" th:value="${User.userId}" type="hidden"/></tr>
        </div>
        <tr>

        <tr><input class="form-control" id="userName" name="userName" th:value="${User.userName}" type="text"/>
        </tr>
        <tr><input id="userPassword" name="userPassword" th:value="${User.userPassword}"/>
        </tr>
        <tr>
            <div class="btn-group">
                <button class="btn btn-success" onclick="update()" type="submit">修改</button>
            </div>
        </tr>
    </table>
</form>
<body>

</body>
</html>